<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Amabie</title>

  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/slick.css">
  <link rel="stylesheet" href="../css/slick-theme.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

  <div id="wrapper"> <!-- Media Query Fix -->

    <section class="home-wrapper" id="home-wrapper" data-type="background" data-speed="7">
      <div class="container">

        <div class="row no-gutter row-spacing">
          <article class="col-md-12">

            <div class="content-box misc-pages about-us">
              <h1 class="heading-left">About Us</h1>
              <div class="about-us-content misc-content">
                <div class="about-us-top">
                <h3 class="blueHead">Amabie in a snapshot...</h3>
                  <ol>
                    <li><strong>Our Name: </strong><p>Our website was inspired by the beauty of mermaids. We named our site after Amabie ("uh ma be ay"), a legendary mermaid, for her glow and youthful spirit.</p></li>
                    <li><strong>Our Mission: </strong><p>We hope to help you easily find reviews when searching for beauty products in and from Asia as well as make it easy to write about your beauty experiences.</p></li>
                    <li><strong>Our Users: </strong><p>We welcome everyone!! Amabie is intended for anyone looking to find and/or write beauty reviews based on personal experience.</p></li>
                    <li><strong>Our Beauty Community: </strong><p>Connect with those who share your interest and passion for beauty. Feel free to ask or answer questions and share recommendations with each other!</p></li>
                    <li><strong>Our Commitment to You: </strong><p>We encourage a positive and supportive environment amongst users to keep Amabie a positive platform.</p></li>
                  </ol>
                </div>

                <div class="about-us-middle">
                  <h3>More about Amabie...</h3>
                  <p>When shopping for beauty products in Asian or searching globally for Asian beaty products, the selection process can be overwhelming due to the endless options and new beauty innovations.</p>
                  <p>Our goal is to help you find opinions and reviews on these beauty products in a personalized and speedy manner.</p>
                  <p>Amabie.com includes reviews on skincare, makeup, hair, etc. as well as advice and suggestions from your peers and the beauty community.</p>
                  <p>Our site aims to help you find the answer to these common questions:
                  <br> What are the best beauty products for you according to your preferences?
                  <br> What is the best skincare for your skin needs or best haircare for your hair needs?</p>
                </div>

                <div class="about-us-bottom">
                  <h3 class="blueHead">Long story short...</h3>
                  <p>If you would like to know more about...</p>
                  <ul>
                    <li><a href="">"FAQ"</a> - Find the answers to frequently asked questions here.</li>
                    <li><a href="">"Review Tips"</a> - Unsure how to write a review? Click here for help.</li>
                  </ul>
                  <p>We hope you find this site useful and enjoyable. The Amabie team is always looking to improve your experience. If you have any questions or concerns, visit our <a href="">"Contact Us"</a> page to be in touch with us!</p>
                </div>

              </div>

            </div>

          </article>
        </div>

        <!-- footer -->
        <footer class="row no-gutter row-spacing">
          <article class="col-md-12">
            <div class="content-box content-footer">
              <h2>Follow Us On</h2>
              <div class="footer-social">
                <ul>
                  <li><a href=""><i class="sm-sprite-color fb-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color ig-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color pin-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color tumb-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color twit-color"></i></a></li>
                </ul>
              </div>

              <div class="footer-nav">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Review Tips</a></li>
                  <li><a href="#">Community Guideline</a></li>
                  <li><a href="#">Sitemap</a></li>
                </ul>
              </div>

              <div class="copyright">
                <p>&copy;Amabi&eacute; 2016 All Rights Reserved</p>
              </div>
            </div>
          </article>
        </footer>

      </div>
    </section>



  </div>

  <script src="../js/jquery-2.1.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/app.js"></script>
</body>
</html>
