<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Amabie</title>

  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/slick.css">
  <link rel="stylesheet" href="../css/slick-theme.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

  <div id="wrapper"> <!-- Media Query Fix -->

    <section class="home-wrapper" id="home-wrapper" data-type="background" data-speed="7">
      <div class="container">

        <div class="row row-spacing no-gutter">
          <article class="col-md-12">
            <div class="content-box misc-pages heading-box">
              <h1 class="heading-left">Edit my Profile</h1>
            </div>
          </article>
        </div>

        <div class="row row-spacing no-gutter">
          <article class="col-md-3">

            <div class="content-box misc-pages">
              <div class="edit-profile-sidebar">
                <div class="edit-profile-img">
                  <figure>
                    <img src="../imgs/SheSilhouette-min.jpg" alt="">
                  </figure>
                </div>

                <div class="edit-profile-sidebar-content">
                  <button class="btn-green btn-center">&plus; Upload</button>
                  <p>Angel Angelgirl666</p>
                  <p>&#64;angelgirl666</p>

                  <table>
                    <tr>
                      <td><a href="">1 <br>Followers</a></td>
                      <td><a href="">1 <br>Following</a></td>
                    </tr>
                  </table>

                  <p class="edit-profile-perIntro">Hi! Feel free to write a short personal intro here to let your followers know more about yourself (such as your interests, what you're looking for, and what brands you like).</p>

                  <div class="perIntro-textarea-wrapper">
                    <textarea id="contact-us-textarea"></textarea>
                    <div class="clearfix"></div>
                  </div>
                </div>

              </div>
            </div>

          </article>

          <article class="col-md-8 col-md-offset-1">

            <div class="content-box misc-pages edit-profile">
              <p class="intro-long">Hi Angel, please fill out as much information as you are comfortable with. (Note that all of them are OPTIONAL). This information may help users like you who share the same characteristics and concerns to better understand beauty reviews.</p>
              <h1 class="heading-left">About Me</h1>



              <form class="edit-profile-form" method="post">

                <p><strong>Ethnic Skin</strong> (Please check all that apply)</p>
                <ul class="ethnic-skin-list">
                  <li><label><input type="checkbox" name="ethnic-skin" value="east-asian"> East Asian</label></li>
                  <li><label><input type="checkbox" name="ethnic-skin" value="south-asian"> South Asian</label></li>
                  <li><label><input type="checkbox" name="ethnic-skin" value="pacific-islander"> Pacific Islander</label></li>
                  <li><label><input type="checkbox" name="ethnic-skin" value="caucasian"> Caucasian/European/White</label></li>
                  <li><label><input type="checkbox" name="ethnic-skin" value="middle-eastern"> Middle Eastern</label></li>
                  <li><label><input type="checkbox" name="ethnic-skin" value="native-american"> Native American</label></li>
                  <li><label><input type="checkbox" name="ethnic-skin" value="hispanic"> Hispanic/Latino/Carribean</label></li>
                  <li><label><input type="checkbox" name="ethnic-skin" value="african"> African/Black/Caribbean</label></li>
                  <li><label><input type="checkbox" name="ethnic-skin" value="other"> Other</label></li>
                </ul>

                <label for="skin-tone">Skin Tone</label>
                <select name="about-me" id="about-me">
                  <option value="" selected>Select One</option>
                  <option value="fair">Fair</option>
                  <option value="dark">Dark</option>
                  <option value="pale">Pale</option>
                </select>

                <label for="skin-type">Skin Type</label>
                <select name="about-me" id="about-me">
                  <option value="" selected>Select One</option>
                  <option value="combination">Combination</option>
                  <option value="dry">Dry</option>
                  <option value="value">value</option>
                </select>

                <label for="hair-type">Hair Type</label>
                <select name="about-me" id="about-me">
                  <option value="" selected>Select One</option>
                  <option value="wavy">Wavy</option>
                  <option value="straight">Straight</option>
                  <option value="curly">Curly</option>
                </select>

                <label for="hair-thickness">Hair Thickness</label>
                <select name="about-me" id="about-me">
                  <option value="" selected>Select One</option>
                  <option value="thick">Thick</option>
                  <option value="thin">Thin</option>
                </select>

                <label for="hair-color">Hair Color</label>
                <select name="about-me" id="about-me">
                  <option value="" selected>Select One</option>
                  <option value="black">Black</option>
                  <option value="brunette">Brunette</option>
                  <option value="blonde">Blonde</option>
                </select>

                <label for="mommy-tobe">Are you a mommy to be?</label>
                <select name="about-me" id="about-me">
                  <option value="" selected>Select One</option>
                  <option value="yes-mom">Yes</option>
                  <option value="no-mom">No</option>
                </select>

                <p><strong>Ingredient Preference</strong> (Please check all that apply)</p>
                <ul class="ingredient-pref-list">
                  <li><label><input type="checkbox" name="ingredient-preference" value="anti-oxidants"> Anti-oxidants</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="fragrance-free"> Fragrance Free</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="hyaluronic-acid"> Hyaluronic Acid</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="natural"> Natural</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="oil-free"> Oil-Free</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="paraben-free"> Paraben-Free</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="peptides"> Peptides</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="sulfate-free"> Sulfate Free</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="organic"> Organic</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="retinoid"> Retinoid</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="salicylic-acid"> Salicylic Acid</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="vitamin-c"> Vitamin C</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="mineral"> Mineral</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="vegan"> Vegan</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="benzoyl-peroxide"> Benzoyl Peroxide</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="tree-oil"> Tree Oil</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="glycerin"> Glycerin</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="aloe"> Aloe</label></li>
                  <li><label><input type="checkbox" name="ingredient-preference" value="gluten-free"> Gluten-Free</label></li>
                </ul>

                <hr class="thinner">
                <input type="submit" class="btn-green full-width" value="Save" />
              </form>
            </div>

          </article>
        </div>

        <!-- footer -->
        <footer class="row no-gutter row-spacing">
          <article class="col-md-12">
            <div class="content-box content-footer">
              <h2>Follow Us On</h2>
              <div class="footer-social">
                <ul>
                  <li><a href=""><i class="sm-sprite-color fb-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color ig-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color pin-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color tumb-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color twit-color"></i></a></li>
                </ul>
              </div>

              <div class="footer-nav">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Review Tips</a></li>
                  <li><a href="#">Community Guideline</a></li>
                  <li><a href="#">Sitemap</a></li>
                </ul>
              </div>

              <div class="copyright">
                <p>&copy;Amabi&eacute; 2016 All Rights Reserved</p>
              </div>
            </div>
          </article>
        </footer>

      </div>
    </section>



  </div>

  <script src="../js/jquery-2.1.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src='../js/tinymce.min.js'></script>
  <script src="../js/app.js"></script>
</body>
</html>
