<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Amabie</title>

  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/slick.css">
  <link rel="stylesheet" href="../css/slick-theme.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

  <div id="wrapper"> <!-- Media Query Fix -->

    <section class="home-wrapper" id="home-wrapper" data-type="background" data-speed="7">
      <div class="container">

        <div class="row no-gutter row-spacing">
          <article class="col-md-8 col-md-offset-2">

            <div class="content-box misc-pages login">
              <h1 class="heading-left">Login</h1>

              <form class="login-form" action="">
                <input type="text" name="username" placeholder="Enter your username or email">
                <input type="password" name="password" placeholder="Enter your password">

                <a href="">Forgot your password?</a>

                <hr class="thinner">
                <input type="submit" class="btn-green full-width" value="Login now" />
                <p>Dont have an account yet? <a href="">Create your free profile today!</a></p>
              </form>
            </div>

          </article>
        </div>

        <!-- footer -->
        <footer class="row no-gutter row-spacing">
          <article class="col-md-12">
            <div class="content-box content-footer">
              <h2>Follow Us On</h2>
              <div class="footer-social">
                <ul>
                  <li><a href=""><i class="sm-sprite-color fb-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color ig-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color pin-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color tumb-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color twit-color"></i></a></li>
                </ul>
              </div>

              <div class="footer-nav">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Review Tips</a></li>
                  <li><a href="#">Community Guideline</a></li>
                  <li><a href="#">Sitemap</a></li>
                </ul>
              </div>

              <div class="copyright">
                <p>&copy;Amabi&eacute; 2016 All Rights Reserved</p>
              </div>
            </div>
          </article>
        </footer>

      </div>
    </section>



  </div>

  <script src="../js/jquery-2.1.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/app.js"></script>
</body>
</html>
