<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Amabie</title>

  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/slick.css">
  <link rel="stylesheet" href="../css/slick-theme.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

  <div id="wrapper"> <!-- Media Query Fix -->

    <section class="home-wrapper" id="home-wrapper" data-type="background" data-speed="7">
      <div class="container">

        <div class="row no-gutter row-spacing">
          <article class="col-md-12">

            <div class="content-box misc-pages my-community">
              <h1 class="heading-left">My Community</h1>

              <div class="my-community-content misc-content">

                  <div class="row no-gutter">
                    <article class="col-md-3">

                      <div class="my-community-left">
                        <label for="invite-friend">Invite a friend</label>
                        <input type="text" id="invite-friend" placeholder="Enter their email address" />
                        <button class="btn-green"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send</button>
                        <br>
                        <label for="search-friend">Search for a friend</label>
                        <input type="text" id="search-friend" placeholder="Enter their email address" />
                        <button class="btn-green"><i class="fa fa-search" aria-hidden="true"></i> Search</button>

                        <div class="friend-suggestions-main">
                          <p><strong>Friend Suggestions</strong></p>
                          <div class="friend-suggest-wrapper">
                            <div class="friend-suggest-img">
                              <figure>
                                <img src="../imgs/HeSilhouette-min.jpg" alt="">
                              </figure>
                              <button class="btn-green">Follow</button>
                            </div>

                            <div class="friend-suggest-details">
                              <p><a href="">sh178</a></p>
                              <p>Followers: 0</p>
                              <p>Following: 0</p>
                              <p>Reviews: 2</p>
                            </div>
                            <div class="clearfix"></div>
                          </div>

                          <div class="friend-suggest-wrapper">
                            <div class="friend-suggest-img">
                              <figure>
                                <img src="../imgs/HeSilhouette-min.jpg" alt="">
                              </figure>
                              <button class="btn-green">Follow</button>
                            </div>

                            <div class="friend-suggest-details">
                              <p><a href="">sh178</a></p>
                              <p>Followers: 0</p>
                              <p>Following: 0</p>
                              <p>Reviews: 2</p>
                            </div>
                            <div class="clearfix"></div>
                          </div>

                          <div class="friend-suggest-wrapper">
                            <div class="friend-suggest-img">
                              <figure>
                                <img src="../imgs/HeSilhouette-min.jpg" alt="">
                              </figure>
                              <button class="btn-green">Follow</button>
                            </div>

                            <div class="friend-suggest-details">
                              <p><a href="">sh178</a></p>
                              <p>Followers: 0</p>
                              <p>Following: 0</p>
                              <p>Reviews: 2</p>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>

                      </div>
                    </article>

                    <article class="col-md-8 col-md-offset-1">
                      <div class="my-community-right">

                        <ul class="tabs-navbar">
                          <li><a href="#" class="tablink" data-tabName="followers">My Followers</a></li>
                          <li><a href="#" class="tablink" data-tabName="following">Who I'm Following</a></li>
                        </ul>

                        <div id="followers" class="tabs-container community">
                          <div class="sorting-wrapper">
                            <label for="sort-by">Sort by: </label>
                            <select name="sort-by">
                              <option value="">Select one</option>
                              <option value="sort-reviews">Number of Reviews</option>
                              <option value="sort-followers">Number of followers</option>
                              <option value="sort-following">Number of following</option>
                            </select>
                          </div>

                          <div class="clearfix"></div>

                          <div class="follow-wrapper">

                            <div class="user-wrapper">
                              <div class="follow-img">
                                <figure>
                                  <img src="../imgs/HeSilhouette-min.jpg" alt="">
                                </figure>
                              </div>
                              <div class="follow-stats">
                                <p><a href="">winkz29</a></p>
                                <p>Followers: 5</p>
                                <p>Following: 10</p>
                                <p>Reviews: 11</p>
                              </div>
                            </div>

                            <div class="user-wrapper">
                              <div class="follow-img">
                                <figure>
                                  <img src="../imgs/HeSilhouette-min.jpg" alt="">
                                </figure>
                              </div>
                              <div class="follow-stats">
                                <p><a href="">winkz29</a></p>
                                <p>Followers: 5</p>
                                <p>Following: 10</p>
                                <p>Reviews: 11</p>
                              </div>
                            </div>

                            <div class="user-wrapper">
                              <div class="follow-img">
                                <figure>
                                  <img src="../imgs/HeSilhouette-min.jpg" alt="">
                                </figure>
                              </div>
                              <div class="follow-stats">
                                <p><a href="">winkz29</a></p>
                                <p>Followers: 5</p>
                                <p>Following: 10</p>
                                <p>Reviews: 11</p>
                              </div>
                            </div>

                            <div class="user-wrapper">
                              <div class="follow-img">
                                <figure>
                                  <img src="../imgs/HeSilhouette-min.jpg" alt="">
                                </figure>
                              </div>
                              <div class="follow-stats">
                                <p><a href="">winkz29</a></p>
                                <p>Followers: 5</p>
                                <p>Following: 10</p>
                                <p>Reviews: 11</p>
                              </div>
                            </div>

                            <div class="user-wrapper">
                              <div class="follow-img">
                                <figure>
                                  <img src="../imgs/HeSilhouette-min.jpg" alt="">
                                </figure>
                              </div>
                              <div class="follow-stats">
                                <p><a href="">winkz29</a></p>
                                <p>Followers: 5</p>
                                <p>Following: 10</p>
                                <p>Reviews: 11</p>
                              </div>
                            </div>

                            <div class="clearfix"></div>
                          </div> <!-- end follow wrapper -->

                        </div> <!-- end tabs wrapper -->

                        <div id="following" class="tabs-container community">
                          <div class="sorting-wrapper">
                            <label for="sort-by">Sort by: </label>
                            <select name="sort-by">
                              <option value="">Select one</option>
                              <option value="sort-reviews">Number of Reviews</option>
                              <option value="sort-followers">Number of followers</option>
                              <option value="sort-following">Number of following</option>
                            </select>
                          </div>

                          <div class="clearfix"></div>

                          <div class="follow-wrapper">

                            <div class="user-wrapper">
                              <div class="follow-img">
                                <figure>
                                  <img src="../imgs/HeSilhouette-min.jpg" alt="">
                                </figure>
                              </div>
                              <div class="follow-stats">
                                <p><a href="">winkz29</a></p>
                                <p>Followers: 5</p>
                                <p>Following: 10</p>
                                <p>Reviews: 11</p>
                              </div>
                            </div>

                            <div class="user-wrapper">
                              <div class="follow-img">
                                <figure>
                                  <img src="../imgs/HeSilhouette-min.jpg" alt="">
                                </figure>
                              </div>
                              <div class="follow-stats">
                                <p><a href="">winkz29</a></p>
                                <p>Followers: 5</p>
                                <p>Following: 10</p>
                                <p>Reviews: 11</p>
                              </div>
                            </div>

                            <div class="user-wrapper">
                              <div class="follow-img">
                                <figure>
                                  <img src="../imgs/HeSilhouette-min.jpg" alt="">
                                </figure>
                              </div>
                              <div class="follow-stats">
                                <p><a href="">winkz29</a></p>
                                <p>Followers: 5</p>
                                <p>Following: 10</p>
                                <p>Reviews: 11</p>
                              </div>
                            </div>

                            <div class="user-wrapper">
                              <div class="follow-img">
                                <figure>
                                  <img src="../imgs/HeSilhouette-min.jpg" alt="">
                                </figure>
                              </div>
                              <div class="follow-stats">
                                <p><a href="">winkz29</a></p>
                                <p>Followers: 5</p>
                                <p>Following: 10</p>
                                <p>Reviews: 11</p>
                              </div>
                            </div>

                            <div class="user-wrapper">
                              <div class="follow-img">
                                <figure>
                                  <img src="../imgs/HeSilhouette-min.jpg" alt="">
                                </figure>
                              </div>
                              <div class="follow-stats">
                                <p><a href="">winkz29</a></p>
                                <p>Followers: 5</p>
                                <p>Following: 10</p>
                                <p>Reviews: 11</p>
                              </div>
                            </div>

                            <div class="clearfix"></div>
                          </div> <!-- end follow wrapper -->

                        </div> <!-- end tabs wrapper -->

                      </div>
                    </article>

                  </div>

              </div> <!-- my-community-content end -->
            </div> <!-- content-box end -->

          </article>
        </div>

        <!-- footer -->
        <footer class="row no-gutter row-spacing">
          <article class="col-md-12">
            <div class="content-box content-footer">
              <h2>Follow Us On</h2>
              <div class="footer-social">
                <ul>
                  <li><a href=""><i class="sm-sprite-color fb-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color ig-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color pin-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color tumb-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color twit-color"></i></a></li>
                </ul>
              </div>

              <div class="footer-nav">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Review Tips</a></li>
                  <li><a href="#">Community Guideline</a></li>
                  <li><a href="#">Sitemap</a></li>
                </ul>
              </div>

              <div class="copyright">
                <p>&copy;Amabi&eacute; 2016 All Rights Reserved</p>
              </div>
            </div>
          </article>
        </footer>

      </div>
    </section>



  </div>

  <script src="../js/jquery-2.1.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/app.js"></script>
</body>
</html>
