<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Amabie</title>

  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/slick.css">
  <link rel="stylesheet" href="../css/slick-theme.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

  <div id="wrapper"> <!-- Media Query Fix -->

    <section class="home-wrapper" id="home-wrapper" data-type="background" data-speed="7">
      <div class="container">

        <div class="row row-spacing no-gutter"> <!-- first row -->
          <article class="col-md-3">

            <div class="content-box misc-pages">
              <div class="edit-profile-sidebar">
                <div class="edit-profile-img">
                  <figure>
                    <img src="../imgs/SheSilhouette-min.jpg" alt="">
                  </figure>
                </div>

                <div class="edit-profile-sidebar-content">
                  <div class="profile-username">
                    <p>Joanne</p>
                    <p>&#64;angelgirl666</p>
                    <div class="clearfix"></div>
                    <button class="btn-green">Follow</button>
                    <button class="btn-green">Wishlist</button>
                    <div class="clearfix"></div>
                  </div>

                  <table>
                    <tr>
                      <td><a href="">1 <br>Followers</a></td>
                      <td><a href="">1 <br>Following</a></td>
                    </tr>
                  </table>

                  <p class="edit-profile-perIntro">Hi! I love makeup.</p>
                </div>

              </div>
            </div>
          </article>

          <article class="col-md-8 col-md-offset-1">

            <div class="content-box misc-pages profile-page">

              <div class="profile-page-content misc-content">
                <div class="profile-page-top two-column-form">
                  <h3>About me</h3>
                  <a href="">Edit my profile</a>
                  <div class="clearfix"></div>
                  <div class="form-column">
                    <p>General Information:</p>
                    <ul>
                      <li>Ethnicity: South Asian</li>
                      <li>Skin Type: Sensitive</li>
                      <li>Skin Tone: Medium -> color</li>
                      <br>
                      <li>Hair Type: Straight</li>
                      <li>Hair Color: Black</li>
                      <li>Hair Thickness: Thin</li>
                    </ul>
                  </div>
                  <div class="form-column">
                    <p>Personal Information:</p>
                    <ul>
                      <li>Beauty Experience: Makeup Junkie, Skincare Devotee</li>
                      <li>Age Range: 18-24</li>
                      <li>Pronoun preference: She</li>
                      <br>
                      <li>Location: Mali</li>
                      <li>Ingredient Preference: Paraben-Free, Gluten-Free</li>
                      <li>Are you a mommy to be? No</li>
                    </ul>

                  </div>
                  <div class="clearfix"></div>
                </div>

                <hr>

                <div class="profile-page-bottom two-column-form">
                  <div class="clearfix"></div>
                  <div class="form-column">
                    <p>General Information:</p>
                    <ul>
                      <li>Instagram: Jalalal</li>
                      <li>Twitter: ajsdfklsajf</li>
                      <li>Pinterest: jsadlfkjasfkl</li>
                    </ul>
                  </div>
                  <div class="form-column">
                    <p>Personal Information:</p>
                    <ul>
                      <li>Facebook: fjdsaklfjsad</li>
                      <li>Your website: fjdiosahfa</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
              </div>

            </div>
          </article>
        </div> <!-- end first row -->

        <div class="row row-spacing no-gutter"> <!-- second row -->
          <article class="col-md-3">

            <div class="content-box misc-pages">
              <div class="long-advert"></div>
            </div>
          </article>

          <article class="col-md-8 col-md-offset-1">

            <div class="content-box misc-pages profile-page">
              <div class="profile-page-content misc-content">

                <div class="profile-review-header">
                  <a href="">Reviews (<span id="profile-reviews-number">2</span>)</a>
                  <a href="">Q&amp;A (<span id="profile-reviews-number">7</span>)</a>

                  <div class="sortby-options">
                    <label>Sort by:</label>
                    <select name="about-me" id="about-me">
                      <option value="" selected>Select One</option>
                      <option value="reviews">Reviews</option>
                      <option value="sort">Sort</option>
                      <option value="title">Title</option>
                      <option value="helpful">Helpful</option>
                      <option value="newest">Newest</option>
                    </select>
                  </div>
                </div>

                <div class="profile-review-wrapper clearfix"> <!-- SINGLE REVIEW WRAPPER END -->
                  <div class="profile-reviews-product-detail">
                    <div class="profile-img">
                      <figure>
                        <img src="../imgs/product-default.jpg" alt="">
                      </figure>
                    </div>

                    <div class="profile-reviews-content">
                      <a href="">Clinque</a>
                      <p>Rosey Lip Balm</p>
                      <p>
                        <i class="fa fa-heart liked" aria-hidden="true"></i>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span> 04/08/2016</span>
                      </p>
                    </div>

                    <div class="profile-reviews-buttons">
                      <button class="btn-green">Edit</button>
                    </div>
                  </div>

                  <div class="profile-reviews-review-detail">
                    <p>Lancome Bi-Facil makeup remover is super organic, Lancome is the world's number one best seller brand, so is Everyone should buy Lancome, Bi Facil makeup remover makes.</p>

                    <div class="review-images-wrapper">
                      <div class="review-img">
                        <figure>
                          <img src="../imgs/product-default.jpg" alt="">
                        </figure>
                      </div>

                      <div class="review-img">
                        <figure>
                          <img src="../imgs/product-default.jpg" alt="">
                        </figure>
                      </div>

                      <div class="review-img">
                        <figure>
                          <img src="../imgs/product-default.jpg" alt="">
                        </figure>
                      </div>

                      <div class="clearfix"></div>
                    </div>

                    <p class="pull-right">(<span id="review-helpful">20</span>) Helpful</p>
                    <div class="clearfix"></div>

                  </div>
                </div> <!-- SINGLE REVIEW WRAPPER END -->

                <div class="profile-review-wrapper"> <!-- SINGLE REVIEW WRAPPER END -->
                  <div class="profile-reviews-product-detail">
                    <div class="profile-img">
                      <figure>
                        <img src="../imgs/product-default.jpg" alt="">
                      </figure>
                    </div>

                    <div class="profile-reviews-content">
                      <a href="">Clinque</a>
                      <p>Rosey Lip Balm</p>
                      <p>
                        <i class="fa fa-heart liked" aria-hidden="true"></i>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span> 04/08/2016</span>
                      </p>
                    </div>

                    <div class="profile-reviews-buttons">
                      <button class="btn-green">Edit</button>
                    </div>
                  </div>

                  <div class="profile-reviews-review-detail">
                    <p>Lancome Bi-Facil makeup remover is super organic, Lancome is the world's number one best seller brand, so is Everyone should buy Lancome, Bi Facil makeup remover makes.</p>

                    <div class="review-images-wrapper">
                      <div class="review-img">
                        <figure>
                          <img src="../imgs/product-default.jpg" alt="">
                        </figure>
                      </div>

                      <div class="review-img">
                        <figure>
                          <img src="../imgs/product-default.jpg" alt="">
                        </figure>
                      </div>

                      <div class="review-img">
                        <figure>
                          <img src="../imgs/product-default.jpg" alt="">
                        </figure>
                      </div>

                      <div class="clearfix"></div>
                    </div>

                    <p class="pull-right">(<span id="review-helpful">20</span>) Helpful</p>
                    <div class="clearfix"></div>

                  </div>
                </div> <!-- SINGLE REVIEW WRAPPER END -->


              </div>
            </div>
          </article>
        </div> <!-- end second row -->

        <!-- footer -->
        <footer class="row no-gutter row-spacing">
          <article class="col-md-12">
            <div class="content-box content-footer">
              <h2>Follow Us On</h2>
              <div class="footer-social">
                <ul>
                  <li><a href=""><i class="sm-sprite-color fb-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color ig-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color pin-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color tumb-color"></i></a></li>
                  <li><a href=""><i class="sm-sprite-color twit-color"></i></a></li>
                </ul>
              </div>

              <div class="footer-nav">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Terms of Use</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Review Tips</a></li>
                  <li><a href="#">Community Guideline</a></li>
                  <li><a href="#">Sitemap</a></li>
                </ul>
              </div>

              <div class="copyright">
                <p>&copy;Amabi&eacute; 2016 All Rights Reserved</p>
              </div>
            </div>
          </article>
        </footer>

      </div>
    </section>



  </div>

  <script src="../js/jquery-2.1.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/slick.min.js"></script>
  <script src="../js/app.js"></script>
</body>
</html>
