@font-face {
  src: url(../fonts/Raleway-SemiBold.ttf);
  font-family: ralewaySemiBold;
}

@font-face {
  src: url(../fonts/Raleway-ExtraBold.ttf);
  font-family: ralewayExtraBold;
}

@font-face {
  src: url(../fonts/Raleway-Regular.ttf);
  font-family: ralewayRegular;
}

@font-face {
  src: url(../fonts/ntailu.ttf);
  font-family: ntailu;
}

@font-face {
  src: url(../fonts/ntailub.ttf);
  font-family: ntailub;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#wrapper {
  overflow: auto;
  height: 100%;
}

#home-wrapper {
  position: relative;
  height: auto;
  width: 100%;
}

#home-wrapper::before {
  height: 100%;
  width: 100%;
  background: url(../imgs/bg-img-min.jpg);
  background-size: cover;
  content: ' ';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  will-change: transform;
}

/* ============================================= */
/*                    GLOBALS                    */
/* ============================================= */

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style: none;
}

ol {
  padding: 0;
}

.clear-both {
  clear: both;
}

.btn-green,
.btn-clear {
  font-size: 18px;
  color: #fefefe;
  font-weight: 400;
  background-color: #3dbbcb;
  border-radius: 0;
  border: 1px solid #3dbbcb;
  padding: 3px 18px;
  margin-left: 10px;
}

.btn-clear {
  color: #3e3a39;
  background-color: #fefefe;
  border: 1px solid #3e3a39;
}

.btn-green.full-width {
  width: 100%;
  margin: 20px auto;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.row-spacing {
  margin-top: 60px;
  margin-bottom: 60px;
}

.clearfix {zoom: 1;}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.heading-left {
  text-align: left;
  border-bottom: 2px solid #aaa;
  padding: 20px 0;
  margin: 0 20px;
}

hr,
hr.thinner {
  border: 0;
  border-radius: 10px;
  width: 100%;
  height: 2px;
  background: #ccc;
  margin: 20px auto 10px;
}

hr.thinner {
  height: 0;
  border: 1px solid rgba(238, 238, 238, 0.7);
}

div.content-box {
  background-color: white;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);
  font-family: ntailu;
  height: 280px;
}

.content-box.small { }
.content-box.medium { }
.content-box.large { }
.content-box.content-footer {
  height: 170px;
}

.content-box.misc-pages {
  height: auto;
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.6);
  text-align: left;
  font-size: 16px;
}

.content-box .misc-content {
  padding: 25px 20px;
  line-height: 2em;
}

/* ============================================= */
/*               ICONS & SPRITES                 */
/* ============================================= */

.fa-pencil-square {
  color: #3dbbcb;
  font-size: 0.9em;
  margin-left: 2px;
}

.fa-caret-right {
  color: #3dbbcb;
}

.fa.fa-heart {
  color: #bbb;
  font-size: 1.5em;
}

.fa.fa-heart.liked {
  color: blue;
}

.fa.fa-pencil {
  font-size: 1.4em;
}

i.sm-sprite {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: url('../imgs/social-sprites-grey.png') no-repeat;
}

i.sm-sprite-color {
  display: block;
  height: 50px;
  width: 50px;
  background: url('../imgs/social-sprites-color.png') no-repeat;
}

.sm-sprite.fb-grey    { background-position: 0 0; }
.sm-sprite.ig-grey    { background-position: -50px 0; }
.sm-sprite.pin-grey   { background-position: -100px 0; }
.sm-sprite.tumb-grey  { background-position: -150px 0; }
.sm-sprite.twit-grey  { background-position: -200px 0; }

.sm-sprite-color.fb-color    { background-position: 0 0; }
.sm-sprite-color.ig-color    { background-position: -50px 0; }
.sm-sprite-color.pin-color   { background-position: -100px 0; }
.sm-sprite-color.tumb-color  { background-position: -150px 0; }
.sm-sprite-color.twit-color  { background-position: -200px 0; }

/* ============================================= */
/*                  NAVIGATION                   */
/* ============================================= */

.navbar {
  position: relative;
  background-color: #f8f8f8;
  padding: 0;
  margin: 0;
  height: 100px;
  border: none;
  font-family: ralewaySemiBold;
  z-index: 10;
}

.container-fluid {
  position: relative;
  padding: 0 30px;
}

.navbar-brand {
  margin-top: -10px;
  padding: 15px 6px;
}

.container-fluid,
.navbar-header,
.navbar-brand,
.navbar-brand img {
  height: 100%;
}

.navbar-brand p {
  font-size: 14px;
  font-family: ralewayRegular;
  color: #3dbbcb;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: -8px;
}

.navbar-heading,
.navbar-collapse {
  background-color: #f8f8f8;
  padding: 0;
}

.navbar-collapse {

}

.nav-right-wrapper {
  position: absolute;
  height: 50px;
  right: 30px;
}

.nav-right-wrapper .navbar {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-main .navbar-form,
.navbar-main .navbar-nav {
  height: 50px;
}

.navbar-main .navbar-form {
  margin: 0;
  padding: 16px 15px;
}

.navbar-main ul li a {
  font-size: 18px;
  color: #3E3A39;
  padding: 15px;
}

.navbar-form {
  padding-top: 8px;
}

.navbar-form .form-group {
  width: 45%;
}

.form-control {
  border-radius: 0;
  width: 100% !important;
}

.navbar-second,
.navbar-social {
  border: none;
  border-radius: 0;
  height: 50%;
}

@font-face {
  src: url(../fonts/Raleway-Bold.ttf);
  font-family: ralewayBold;
}

.navbar-second ul.navbar-nav li a {
  font-size: 18px;
  padding: 20px 15px;
  color: #3dbbcb;
  /*// font-family: ralewayExtraBold;*/
  font-family: ralewayBold;
}

.navbar-second ul.navbar-nav li:first-of-type a,
.navbar-second ul.navbar-nav li:last-of-type a {
  color: #3e3a39;
}

.navbar-social {
  clear: right;
}

.navbar-social ul.navbar-nav.nav li a {
  padding: 0 !important;
}

/* ============================================= */
/*                  DROP DOWN                    */
/* ============================================= */

.navbar-default .navbar-nav > li > a:hover  {
  color: #3dbbcb;
}

.dropdown-menu {
  padding: 15px;
  border-radius: 0;
  border: transparent;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.6);
  font-family: ntailu;
}

.dropdown-container {
  border-radius: 0;
  border: transparent;
  height: auto;
}

.dropdown-container ul li {
  margin-right: 50px;
}

.dropdown-container.three {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  columns: 3;

  min-width: 650px;
}

.dropdown-container.two {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  columns: 2;

  min-width: 450px;
}

.dropdown-container h3 {
  font-size: 18px;
  color: #3e3a39;
  font-family: ralewayBold;
  line-height: 2em;
}

.dropdown-container h3.dropdown-title {
  text-decoration: underline;
}

.dropdown-contiainer h3 {
  text-decoration: none;
}

.dropdown-container ul {
  padding: 0;
}

.dropdown-container ul li {
  list-style: none;
  font-size: 14px;
  color: #3e3a39;
  font-weight: normal;
  display: inline-block;
  width: 100%;
}

.dropdown-container ul li a {
  padding: 0 !important;
}

.dropdown-link li a:hover {
  color: #3dbbcb;
}

.dropdown-container figure img {
  width: 100%;
}

.dropdown-container figure figcaption {
  margin-top: 10px;
}

.dropdown-container figure figcaption a {
  font-size: 13px;
}

/* ============================================= */
/*                  HOME PAGE                    */
/* ============================================= */

#home-wrapper .container {
/*  width: 1500px;
  max-width: 96%;*/
}

.md-3-adj { width: 28%; }
.md-4-adj { width: 38%; }
.md-os-1-adj { margin-left: 3%; }
.md-8-adj { width: 69%; }

.box-container {
  width: 20%;
}

.intro-box {
  padding: 20px;
  text-align: center;
}

.intro-box h1 {
  font-size: 36px;
  color: #3e3a39;
  font-family: ntailub;
}

.intro-box p {
  font-size: 18px;
  color: #3e3a39;
  font-weight: normal;
  line-height: 2em;
  padding: 7px 35px;
}

.content-box h2 {
  font-size: 18px;
  color: #3e3a39;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 2px solid #3dbbcb;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  padding: 10px 1px 2px 1px;
}

.content-box {
  height: auto;
  width: 100%;
  text-align: center;
}

  /*
   * CAROUSEL
   */

.carousel-content {
  padding: 10px;
  margin: 10px;
}

.carousel-photo {
  width: 50%;
}

.fa.fa-chevron-left,
.fa.fa-chevron-right {
  position: absolute;
  top: 50%;
  display: block;
  font-size: 1.5em;
  color: #3dbbcb;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 1;
  cursor: pointer;
}

.fa.fa-chevron-left {
  left: -0;
}

.fa.fa-chevron-right {
  right: 0;
}

.product-styles ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-styles ul li {
  font-size: 14px;
  color: #3e3a39;
}

.product-styles ul li:nth-of-type(2) {
  color: #3dbbcb;
}

  /*
   * BEST MAKEUP PRODUCTS
   */

.best-highlight {
  width: 100%;
  height: auto;
}

.best-highlight figure {
  width: 40%;
  float: left;
  margin: 10px 20px;
}

.best-highlight figure img {
  width: 90%;
}

.best-highlight ul {
  float: left;
  margin: 20px 10px;
  padding-right: 15px;
  width: 40%;
}

.best-showcase {
  clear: both;
  list-style: none;
  width: 80%;
  padding: 10px 0 0;
  margin: 0 auto;
}

.best-showcase li {
  display: block;
  float: left;
  width: 22%;
  margin: 1.5%;
}

.best-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.best-photo img {
  width: 100%;
  height: auto;
}

.daily-photo {
  width: 33%;
  margin: 20px auto 10px;
}

.daily-photo img {
  width: 100%;
}

.reviewed-container {
  width: 100%;
}

.reviewed-wrapper {
  width: 25%;
  float: left;
}

.reviewed-photo {
  width: 50%;
  margin: 20px auto 10px;
}

.reviewed-photo img {
  width: 100%;
}

  /*
   * TOP REVIEWERS
   */

.reviewers-container {
  width: 100%;
}

.reviewers-wrapper {
  width: 50%;
  float: left;
}

.reviewers-style {
  text-align: left;
}

.reviewers-style figcaption {
  text-align: center;
}

.reviewers-style figcaption span {
  color: #3dbbcb;
  font-size: 18px;
}

.reviewers-style ul li p {
  font-size: 14px;
}

.reviewers-style ul {
  margin: 20px 0;
  padding: 0;
}

  /*
   * INSTAGRAM
   */

.insta-container {
  padding: 20px 20px 10px;
}

.insta-showcase {
  list-style: none;
  width: 100%;
  padding: 0;
}

.insta-showcase li {
  display: block;
  float: left;
  width: 30%;
  margin: 1.25%;
}

.insta-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.insta-photo img {
  width: 100%;
  height: auto;
}

  /*
   * BEST PRODUCTS
   */

.best-products ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.best-products ul li a {
  font-size: 18px;
  color: #3e3a39;
  font-family: ntailub;
  line-height: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

  /*
   * TRENDING PRODUCTS
   */

.trending-products ul {
  padding: 5px 30px;
}

.trending-products ul li {
  text-align: left;
  line-height: 2em;
  padding: 15px 0;
}

.trending-products ul li h4 {
  font-size: 14px;
  color: #3dbbcb;
  font-weight: bold;
}

.trending-products > p {
  text-align: right;
  padding-right: 10px;
  color: #3dbbcb;
}

  /*
   * FOOTER
   */

.footer-social {
  height: auto;
  text-align: center;
  margin-top: 10px;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer-nav {
  width: 100%;
  height: 50px;
}

.footer-nav ul {
  margin: 0 auto;
  width: 100%;
}

.footer-nav ul li {
  display: inline-block;
  padding: 15px;
}

.footer-nav ul li a {
  font-size: 18px;
  color: #3e3a39;
}

.copyright p {
  text-align: center;
  font-size: 12px;
  color: #3e3a39;
  padding-bottom: 10px;
}

  /*
   * RESPONSIVE FOOTER
   */

@media only screen and (max-width: 1199px) {

  .content-box.content-footer {
    height: auto;
  }

  .footer-nav {
    height: auto;
    margin: 0 auto;
  }

  .footer-nav ul {
    text-align: center;
  }

  .footer-nav ul li {
    text-align: center;
    padding: 10px;
  }
}

/* ============================================= */
/*                      MISC                     */
/* ============================================= */

  /*
   * EDIT MY PROFILE
   */

.register-form {
  width: 100%;
  line-height: 2em;
  padding: 30px 0;
}

.register-form .form-column {
  width: 49%; /* 100% for smaller screens */
  float: left;
  margin-bottom: 20px;
}

.register-form .form-column:first-of-type {
  margin-right: 2%
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form select {
  width: 98%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
  line-height: 1.5em;
}

.register-form #days,
.register-form #months,
.register-form #years {
  width: auto;
}

.register-form label {
  margin: 0;
}

.register-form .btn-green {
  margin: 0;
  border-radius: 5px;
  padding: 6px 20px;
  margin: 10px 0 28px;
  line-height: 1.5em;
}

.top-form,
.bottom-form {
  height: auto;
  width: 100%;
}

.ending-form label {
  font-size: .9em;
  font-weight: 400;
}

  /*
   * EDIT MY PROFILE
   */
.heading-box {
  padding-bottom: 40px;
}

.edit-profile-sidebar {
  padding: 20px 0;
}

.edit-profile-img {
  width: 80%;
  margin: 0 auto;
}

.edit-profile-img img {
  width: 100%;
}

.edit-profile-sidebar-content {
  width: 80%;
  margin: 0 auto;
}

.edit-profile-sidebar-content .btn-green {
  margin: 0;
  border-radius: 5px;
  padding: 6px 20px;
  margin: 10px 0 15px;
}

.edit-profile-sidebar-content table {
  margin: 15px 0;
  border-collapse;
  width: 100%;
}

.edit-profile-sidebar-content table tr {
  border: none;
}

.edit-profile-sidebar-content table tr td {
  text-align: center;
}

.edit-profile-sidebar-content table tr td a {
  color: #3dbbcb;
}

.edit-profile-sidebar-content table tr td:first-of-type{
  border-right: 1px solid #3E3A39;
}

.edit-profile-perIntro {
  margin: 10px 0;
}

.perIntro-textarea-wrapper {
  width: 100%;
  padding: 10px 1px 20px;
  height: auto;
  background: rgba(238, 238, 238, 0.9);
  border: 1px solid #fefefe;
  border-radius: 2px;
}

#perIntro-textarea {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: .9em;
}

  /* COL-MD-8 */
.content-box.edit-profile h1 {
  border: none;
  padding: 0;
}

.content-box.edit-profile .intro-long {
  padding: 20px;
}

.content-box.edit-profile p {
  font-size: .9em;
}

.edit-profile-form ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.edit-profile-form ul li {
  line-height: 1.5em;
}

.ethnic-skin-list label,
.ingredient-pref-list label {
  font-weight: 400;
}

.edit-profile-form select {
  margin: 0 0 10px 0;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.edit-profile-form label {
  margin: 0 !important;
}

  /*
   * PRIVACY OPTIONS
   */

.privacy-all-options {
  width: 100%;
}

.privacy-options-form table {
  width: 100%;
}

.privacy-options-form table .major-rows {
  // border-bottom: 1px solid #ccc;
  // border-top: 1px solid #ccc;
}

.privacy-options-form table .major-rows .major-cells{
  vertical-align: top;
  padding: 20px 0;
}

.privacy-options-form table .major-rows td {
  width: 50%;
}

.table-border {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(238, 238, 238, 0.7);
  width: 95%;
}

  /*
   * WISHLIST
   */

.wishlist-wrapper.misc-content {
  padding-top: 0;
}

.btn-wishlist {
  margin: 10px 20px 0;
  font-weight: 300;
  padding: 15px 20px;
  font-size: .9em;
}

.wishlist-wrapper ol li {
  border-bottom: 2px solid #aaa;
  padding: 20px 0;
  margin-left: 20px;
}

.wishlist-wrapper ol li:last-of-type {
  border: none;
}

.wishlist a {
  color: #3dbbcb;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.email-form ul li input[type="text"],
.wishlist-content input[type="text"] {
  height: 1.5em;
  vertical-align: middle;
  line-height: 1.3em;
  border: 1px solid #ccc;
}

.wishlist-content p {
  clear: both;
}

.wishlist-buttons {
  padding: 20px;
}

.wishlist-buttons button {
  min-width: 120px;
  margin: 5px auto;
  display: block;
  padding: 0;
}

  /*
   * ALERT OPTIONS & WISHLIST
   */

.register-img,
.my-alerts-img,
.wishlist-img {
  width: 200px;
  height: auto;
}

.register-img figure img,
.my-alerts-img figure img,
.wishlist-img figure img {
  width: 100%;
}

.my-alerts-img,
.my-alerts-content,
.wishlist-img,
.wishlist-content,
.wishlist-buttons {
  display: inline-block;
  vertical-align: middle;
}

.my-alerts-content,
.wishlist-content {
  margin-left: 40px;
}

.register-form a,
.login-form a,
.my-alerts-content a {
  color: #3dbbcb;
  font-size: 1.2em;
}

.my-alerts-remove {
  position: absolute;
  color: #3dbbcb;
  display: inline-block;
  bottom: 60px;
  right: 20px;
}

  /*
   * ALERT OPTIONS
   */

.alert-options-table th,
.alert-options-table td {
  padding: 0 15px;
}

.alert-options-table tr td:first-of-type {
  padding-right: 70px;
}

  /*
   * EMAIL, LOGIN
   */

.login {
  padding: 40px;
}

.edit-profile-form,
.login-form,
.change-password-form,
.email-form {
  text-align: left;
  line-height: 2em;
  padding: 30px 20px;
}

.change-password-form {
  padding: 30px 40px;
}

.change-password-form input,
.login-form input {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 0 10px;
  border-radius: 5px;
}

.change-password-form input {
  margin: 5px 0;
}

.change-password-form label {
  margin: 10px 0 0 0;
}

.email-form ul li {
  padding: 5px;
}

/* ============================================= */
/*                RESPONSIVE QUERIES             */
/* ============================================= */

@media only screen and (max-width: 1345px) {
  .navbar-social {
    display: none;
  }
}

@media only screen and (max-width: 1108px) {
  .navbar-second ul.navbar-nav li a {
    font-size: 14px;
  }

  .navbar-main ul li a {
    font-size: 14px;
    padding: 15px 10px;
  }

  .btn-green {
    font-size: 14px;
  }

  .form-control {
    height: 28px;
  }

  .navbar-form .form-group {
    width: 35%;
  }
}

@media only screen and (max-width: 983px) {
  .navbar-main ul li a {
    padding: 15px 10px;
  }

  .navbar-second ul.navbar-nav li a {
    padding: 20px 10px;
  }
}

@media only screen and (max-width: 913px) {
  .navbar-main ul li a {
    font-size: 10px;
  }

  .btn-green {
    font-size: 10px;
  }

  .navbar-second ul.navbar-nav li a {
    font-size: 10px;
  }
}

@media only screen and (max-width: 788px) {
  .navbar-main ul li a {
    padding: 15px 6px;
  }
}

@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-collapse {

  }

  button.navbar-toggle {
    top: 25px;
  }

  .navbar-mobileSearch {
    display: block !important;
  }

  .nav-right-wrapper,
  .navbar-form {
    display: none;
  }

  .navbar-collapse ul li a {
    padding: 15px 0 !important;
  }
}

